html{
    background-image: url('images/rubies-background.png');
    background-size: 90% 1800px;
    
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

header{
    position: relative;
}

.title-background svg{
    width: 100%;
    height: auto;
}


.title{
    display: flex;
    color: #CCB909;
    position: absolute;
    top: 600px;
    width: 100%;
    justify-content: space-around;
}

.title-text h1{
    font-size: 4vw;
}

.title-text p{
    font-size: 1.3vw;
}

.header-upper-content{
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 0;
    width: 100%;
}

nav{
    margin: 25px 25px 0;
}

nav a:hover{
    color: rgb(155, 141, 13);
    transition: 0.5s color;
}

nav a, a:visited, a:active{
    color: #CCB909;
    text-decoration: none;
    padding: 15px;
    font-size: 1.7vw;
}

.title-image-background{
    width: 65%;
}

.linkbot-background{
    width: 80%;
    max-width: 1250px;
    height: auto;
}

.title-icons{
    width: 700px;
}

.title-icons img{
    width: 100%;
    height: auto;
}

.pathway{
    width: 100%;
    bottom: 150px;
    position: relative;
    text-align: center;
}

.pathway svg{
    width: 500px;
}

.idea-bubble{
    position: relative;
    width: 100%;
    text-align: center;
}

.idea-background{
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto 0 auto;
    max-width: 1250px;
    width: 80%;
    height: auto;
}

.idea-bubble-content{
    position: absolute;
    top: 140px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;
    width: 70%;
}

.idea-bubble-text{
    width: 30%;
    padding: 0;
    text-align: left;
    color: white;
}

.robot-sketch{
    height: auto;
    display: block;
    width: 35%;
    max-width: 580px;
}

.idea-bubble-text h1{
    font-size: 72px;
    font-weight: bold;
    margin: 0;
}

.idea-bubble-text p{
    font-size: 1vw;
}

.gear-wrapper {
    width: 100%;
    position: relative;
    top: 1200px;
}

.gear-content{
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto 0 auto;
}

.gear-content h1{
    text-align: center;
    font-weight: bolder;
    font-size: 72px;
}

.team-wrapper {
    width: 100%;
    position: relative;
    top: 1600px;
}

.team-content{
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto 0 auto;
}

.team-content h1{
    text-align: center;
    font-weight: bolder;
    font-size: 72px;
}

.team-members{
    display: flex;
    justify-content: space-evenly;
    margin: 0 400px;
}

.member{
    width: 200px
}

.member-name{
    text-align: center;
    width: inherit;
}

.member-slogan{
    text-align: center;
    width: inherit;
    font-style: italic;
}

.member-image img{
    border-radius: 50%;
    height: 200px;
    width: 200px;
    object-fit: cover;
}

.story-wrapper{
    position: relative;
    top: 2500px;
}

.gradient-intro{
    height: 1300px;
    background-image: linear-gradient(transparent, black);
}

.story-content{
    background-color: black;
    height: 100vh;
    font-family: 'VT323', monospace;
    color: white;
    text-align: center;
}

.triforce{
    opacity: 1;
    padding-top: 150px;
}

.triforce-fade{
    opacity: 0;
    transition: 1s opacity;
}

.story-text{
    width: 900px;
    margin: 0 auto 0 auto;
    font-size: 30px;
    position: absolute;
    left: 0;
    right: 0;
}

.robot-text{
    visibility: hidden;
    opacity: 0;
}

.robot-text-fade{
    visibility: unset;
    opacity: 1;
    transition: 6s opacity;
}

.story-button{
    font-size: 72px;
    margin: 0 auto 0 auto;
    cursor: pointer;
    width: 500px;
    position: relative;
    left: 0;
    right: 0;
    top: 500px;
}

.start-button{
    visibility: unset;
    opacity: 1;

}

.start-button-fade{
    visibility: hidden;
    opacity: 0;
    transition: 1s opacity;
}

@media only screen and (min-width: 2500px){
    .robot-sketch{
        width: 15%;
    }

    .idea-bubble-text p{
        font-size: 0.9vw;
    }
}

@media only screen and (min-width: 2060px){
    .robot-sketch{
        width: 25%;
    }
}

@media only screen and (max-width: 1305px){
    nav{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
}

@media only screen and (max-width: 1060px){
    .title{
        top: 400px;
    }
}
 
@media only screen and (max-width: 1040px){
    .team-members{
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin: 0;
    }

    .member{
        margin: 0 auto;
    }

    .story-text{
        width: 500px;
    }
    
    .story-wrapper{
        top: 3000px;
    }

    h1{
        font-size: 4vw !important;
    }

    .title-icons{
        width: 600px;
    }

    .pathway{ 
        width: 50%;
        margin: 0 auto;
        text-align: unset;
    }

    .pathway svg{
        width: 100%;
        height: auto;
    }

    .triforce{
        width: 30%;
        margin: 0 auto;
    }

    .triforce svg{
        width: 100%;
        height: auto;
        max-width: 200px;
    }

    .story-text{
        font-size: 2vw;
    }

    .story-button{
        font-size: 4vw;
    }
}

@media only screen and (max-width: 920px){
    .title{
        top: 300px;
    }
}

@media only screen and (max-width: 768px){
    .title-background svg{
        display: none;
    }

    header{
        background-color: #464646;
        height: 600px;
    }

    h1{
        font-size: 5vw !important;
    }

    .title-icons{
        width: 400px;
    }

    .idea-bubble-content{
        top: 90px;
    }

    .gear-wrapper{
        top: 800px;
    }

    .story-button{
        width: 100%;
    }

    .story-text{
        width: 100%;
        font-size: 3.5vw;
    }
}

@media only screen and (max-width: 425px){
    header{
        height: 400px;
    }

    .title-icons{
        display: none;
    }

    .title{
        width: 100%;
        top: 200px;
    }

    .title-text{
        margin: 0 auto;
    }

    .pathway{
        bottom: 50px;
    }

    .idea-bubble-content{
        top: 50px;
    }

    .gear-wrapper{
        top: 600px;
    }

    .team-wrapper{
        top: 900px;
    }

    .story-wrapper{
        top: 2000px;
    }

    .story-button{
        width: 100%;
    }

    .member-image{
        text-align: center;
    }

    .member-image img{
        width: 140px;
        height: 150px;
    }

}

@media only screen and (max-width: 375px){
    .idea-bubble-content{
        top: 40px;
    }
}

