html{
    background-image: url('images/rubies-background.png');
    background-size: 90% 1800px;
    
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.header{
    position: relative;
}

.title-background svg{
    width: 100%;
    height: auto;
}


.title{
    display: flex;
    color: #CCB909;
    position: absolute;
    top: 600px;
}

.title-text h1{
    font-size: 4vw;
}

.title-text p{
    font-size: 1.3vw;
}

.title-image-background{
    position: absolute;
    top: 0;
    width: 65%;
}

.linkbot-background{
    width: 80%;
    max-width: 1250px;
    height: auto;
}

.title-icons{
    width: 700px;
}

.title-icons img{
    width: 100%;
    height: auto;
}

.pathway{
    width: 100%;
    bottom: 150px;
    position: relative;
    text-align: center;
}

.pathway svg{
    width: 500px;
}

.idea-bubble{
    position: relative;
    width: 100%;
    text-align: center;
}

.idea-background{
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto 0 auto;
    max-width: 1250px;
    width: 80%;
    height: auto;
}

.idea-bubble-content{
    position: absolute;
    top: 140px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;
    width: 70%;
}

.idea-bubble-text{
    width: 30%;
    padding: 0;
    text-align: left;
    color: white;
}

.robot-sketch{
    height: auto;
    display: block;
    width: 35%;
    max-width: 580px;
}

.idea-bubble-text h1{
    font-size: 72px;
    font-weight: bold;
    margin: 0;
}

.idea-bubble-text p{
    font-size: 1vw;
}

.gear-wrapper {
    width: 100%;
    position: relative;
    top: 1200px;
}

.gear-content{
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto 0 auto;
}

.gear-content h1{
    text-align: center;
    font-weight: bolder;
    font-size: 72px;
}

.team-wrapper {
    width: 100%;
    position: relative;
    top: 1600px;
}

.team-content{
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto 0 auto;
}

.team-content h1{
    text-align: center;
    font-weight: bolder;
    font-size: 72px;
}

.team-members{
    display: flex;
    justify-content: space-evenly;
    margin: 0 400px;
}

.member{
    width: 200px
}

.member-name{
    text-align: center;
    width: inherit;
}

.member-slogan{
    text-align: center;
    width: inherit;
    font-style: italic;
}

.member-image img{
    border-radius: 50%;
    height: 200px;
    width: 200px;
    object-fit: cover;
}

.story-wrapper{
    position: relative;
    top: 2500px;
}

.gradient-intro{
    height: 1300px;
    background-image: linear-gradient(transparent, black);
}

.story-content{
    background-color: black;
    height: 100vh;
    font-family: 'VT323', monospace;
    color: white;
    text-align: center;
}

.triforce{
    opacity: 1;
    padding-top: 150px;
}

.triforce-fade{
    opacity: 0;
    transition: 1s opacity;
}

.story-text{
    width: 900px;
    margin: 0 auto 0 auto;
    font-size: 2vw;
    position: absolute;
    left: 0;
    right: 0;
}

.robot-text{
    visibility: hidden;
    opacity: 0;
}

.robot-text-fade{
    visibility: unset;
    opacity: 1;
    transition: 6s opacity;
}

.story-button{
    font-size: 72px;
    margin: 0 auto 0 auto;
    cursor: pointer;
    width: 500px;
    position: relative;
    left: 0;
    right: 0;
    top: 500px;
}

.start-button{
    visibility: unset;
    opacity: 1;

}

.start-button-fade{
    visibility: hidden;
    opacity: 0;
    transition: 1s opacity;
}

@media only screen and (min-width: 1680px){
    .idea-background{
        text-align: center;
    }
}
 
@media only screen and (max-width: 1040px){
    .team-members{
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin: 0;
    }

    .member{
        margin: 0 auto;
    }

    .story-text{
        width: 500px;
    }
}

@media only screen and (max-width: 768px){
    .title-background svg{
        display: none;
    }

    .header{
        background-color: #464646;
        height: 600px;
    }

    .title{
        top: 300px;
    }

    .title-icons{
        width: 400px;
    }
}

